* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Oswald", sans-serif;
  display: flex;
  flex-direction: column;
}

nav {
  background: #222831;
  padding: 5px 20px;
}

ul {
  list-style-type: none;
  margin-bottom: 0;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: white;
}

.menu li {
  font-size: 16px;
  padding: 15px 5px;
}

.menu li a {
  display: block;
}

#logo a {
  font-family: "lobster", cursive;
  font-weight: lighter;
  font-size: 2rem;
}

.big-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 30%);
  font-size: 5rem;
  font-family: "lobster", cursive;
  color: #3d3d3d;
}

.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  background: #61696d;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(100%);
}

.intro-text {
  color: #e3f2ff;
  font-family: "Heebo", sans-serif;
  font-size: 3rem;
}

.hide {
  background: black;
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.hero {
  min-height: 100vh;
  background: url(/images/hero.jpg?ec86ad4480207675706e1b0797776f21);
  background-size: cover;
  padding: 0rem 5rem;
}

.toggle {
  order: 1;
}

.item {
  width: 100%;
  text-align: center;
  order: 2;
  display: none;
}

.item.active {
  display: block;
}

.toggle {
  cursor: pointer;
}

.bars {
  background: #999;
  display: inline-block;
  height: 2px;
  position: relative;
  width: 18px;
}

.bars::before,
.bars::after {
  background: #999;
  content: "";
  display: inline-block;
  height: 2px;
  position: absolute;
  width: 18px;
}

.bars::before {
  top: 5px;
}

.bars::after {
  top: -5px;
}

@media all and (min-width: 468px) {
  .menu {
    justify-content: center;
  }

  #logo {
    flex: 1;
  }

  .toggle {
    order: 1;
  }
}

@media all and (min-width: 768px) {
  .item {
    display: block;
    width: auto;
  }

  .toggle {
    display: none;
  }

  #logo {
    order: 0;
  }

  .menu li {
    padding: 15px 10px;
  }
}

#app {
  margin: auto;
  max-width: 800px;
}

#content {
  justify-content: space-between;
}

#container {
  min-height: 100%;
}

.container {
  /*border: 2px solid red;*/
  max-width: 1000px;
  flex: 1;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: wrap;
}

.footer {
  color: white;
  background: #222831;
  /* fallback for old browsers */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer img {
  vertical-align: middle;
}

.footer a {
  color: white;
}

.footer-description {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 20px 10px;
  background-size: 20px 20px;
}

.social-link.twitter {
  background-image: url(/images/twitter.png?2aaa699930dec6b7c38dddbfe5c08d0d);
}

.social-link.linkedin {
  background-image: url(/images/linkedin.png?dbed3d72e8b98cdbe0065faa5805d04f);
}

.social-link.github {
  background-image: url(/images/github.png?81443a5834ba07972bae142a3fe2c24d);
}

.social-link.instagram {
  background-image: url(/images/instagram.png?72c1fd4025a5a7034901bd1c0567e23f);
}

@media screen and (max-width: 480px) {
  .footer {
    display: block;
    text-align: center;
    border: 1px solid transparent;
  }

  .social-link {
    width: 20px;
    height: 20px;
    background-size: 100%;
  }
}

